interactions.graphml
Generator/__pycache__/*
Workspace/Example/bin/*
Workspace/Example/custom/**/*.cpp
Workspace/Example/custom/**/*.h
Simulator/*.class
Simulator/*.o
Simulator/client
Simulator/joueurIdiot
Simulator/joueurMoinsIdiot
